html{
    font-family: 'Times New Roman', Times, serif;
    background-color: blanchedalmond;
}

.container {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    filter: contrast(65%);
}
.auteur {
    font-style: oblique;
}